/Debug/
/.cproject
/.project
/.settings/
/glslangValidator.exe
/.vs
/x64
/StarlightEngine.vcxproj.user
/StarlightEngine.vcxproj.filters
/StarlightEngine.vcxproj
/StarlightEngine.sln
/.metadata/
/RemoteSystemsTempFiles/
/StarlightEngine.rc
/libraries/
/resource.h
/StarlightEngine.aps
